@import '@/app/variables.scss';

.about {
  padding: 192px 72px 112px 72px !important;
  &__wrapper {
    max-width: 800px !important;
    flex-direction: column;
    justify-content: center;
  }
  &__circle {
    animation: pulse 5s linear infinite;
    margin-left: 66%;
  }
  &__svg-wrapper {
    width: 100%;
    height: 100%;
    animation: rotateCircle 8.1s linear infinite;
  }
  &__svg {
    position: absolute;
    top: -4px;
    animation: bumpyRoad 4s linear infinite;
  }
  &__title {
    max-width: 64%;
    color: $primary-accent-color;
  }
  &__margin {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@keyframes rotateCircle {
  from { transform: rotate(-360deg); }
  to { transform: rotate(0); }
}
@keyframes pulse {
  from { transform: scale(1); }
  25% { transform: scale(1.07); }
  50% { transform: scale(1.03); }
  75% { transform: scale(0.96); }
  to { transform: scale(1); }
}
@keyframes bumpyRoad {
  from { transform: rotate(-42deg); }
  30% { transform: rotate(-42deg); }
  40% { transform: rotate(-38deg); }
  50% { transform: rotate(-42deg); }
  55% { transform: rotate(-44deg); }
  60% { transform: rotate(-42deg); }
  70% { transform: rotate(-38deg); }
  80% { transform: rotate(-42deg); }
  to { transform: rotate(-42deg); }
}