@import '@/app/variables.scss';

.button {
    cursor: pointer;
    width: fit-content;
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: transparent;
    padding: 16px 24px;
    &_primary {
        background-color: rgba(0, 0, 0, 0.204);
        border-radius: 24px;
        color: $primary-color-light;
        transition: 0.24s all ease-in;
        &:hover {
            color: $primary-color-dark;
            background-color: #fff;
        }
    }
    &_secondary {
        padding: 0;
        color: #FEFF86;
        font-weight: 600;
        transition: 0.38s all ease-in;
        &:hover {
            color: $primary-color-light;
        }
    }
}