/* Fonts */
$primary-font: var(--font-montserrat);
$secondary-font: var(--font-gilda-display);

/* Colors */
$primary-color-light: #eef2f3;
$secondary-color-light: #8e9eab;
$primary-color-dark: #201D1E;
$secondary-color-dark: rgb(39, 36, 47);
$primary-accent-color: #FEFF86;
$light-accent-color: #7077A1;
$dark-accent-color: rgba(0, 0, 0, 0.297);