.page-header {
    background: url('../../../public/images/car1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 112px 72px;
    &__wrapper {
        max-width: 46%;
        display: flex;
        justify-content: center;
        * {
            max-width: 90%;
            margin-left: auto;
        }
    }
    &__title {
        text-transform: uppercase;
    }
}