.page-header {
  background: url('../../../public/images/sombor.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    max-width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
  }
}